file:///srv/library Library
file://{{ .chezmoi.homeDir }}/Documents/notebook Notebook
file://{{ .chezmoi.homeDir }}/studio Studio
file://{{ .chezmoi.homeDir }}/src
file://{{ .chezmoi.homeDir }}/.steam/debian-installation/steamapps/common steam common
file://{{ .chezmoi.homeDir }}/.wine/drive_c wine root
file://{{ .chezmoi.homeDir }}/Documents
