#!/bin/bash
{{ if .trusted }}
KEY_PATH="${XDG_CONFIG_DIR:-$HOME/.config}/chezmoi/key"

if [[ ! -f "$KEY_PATH" ]]; then
	age -d -o "$KEY_PATH" "{{ .chezmoi.sourceDir }}/key.age"
	chmod 600 "$KEY_PATH"
fi
{{ end }}
