#!/bin/bash
# vi:ft=sh
{{ if .trusted }}
KEY_PATH="${XDG_CONFIG_DIR:-$HOME/.config}/chezmoi/key"
OS_ID="{{ .chezmoi.osRelease.id }}"
SOURCE_DIR="{{ .chezmoi.sourceDir }}"

[[ -d "$HOME/.ssh" ]] || mkdir "$HOME/.ssh"

if ! hash age 2>/dev/null; then
	case "$OS_ID" in
	arch)
		sudo pacman -S age --noconfirm
		;;
	esac
fi

if [[ ! -f "$KEY_PATH" ]]; then
	age -d -o "$KEY_PATH" "$SOURCE_DIR/key.age"
	chmod 600 "$KEY_PATH"
fi

age -d -o "$HOME/.ssh/id_rsa" -i "$KEY_PATH" "$SOURCE_DIR/private_dot_ssh/encrypted_private_id_rsa.age"
chmod 600 "$HOME/.ssh/id_rsa"
cp "$SOURCE_DIR/private_dot_ssh/id_rsa.pub" "$HOME/.ssh/id_rsa.pub"

{{ end }}
