[Desktop Entry]
Name=Geary
GenericName=Email
Comment=Send and receive email
Keywords=Mail;E-mail;IMAP;GMail;Yahoo;Hotmail;Outlook;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Geary
Exec=geary --gapplication-service
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Email;
MimeType=x-scheme-handler/mailto;
StartupNotify=true
DBusActivatable=true
Actions=compose;new-window
X-GNOME-UsesNotifications=true

