[Unit]
Description=A standalone HTTP server for serving ZIM file over the network
Documentation=man:kiwix-serve

[Service]
ExecStart=/usr/bin/kiwix-serve --library /srv/library/zim/library.xml -p 1080

[Install]
WantedBy=default.target
