[Unit]
Description=V2ray Proxy
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/bin/v2ray --config ${HOME}/.config/proxy/config.json
ExecStartPost=/usr/bin/sh -c 'echo $UID > /tmp/proxy_active'
ExecStopPost=/usr/bin/rm /tmp/proxy_active
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=default.target
