colors:
  body: none
  date: blue
  tags: none
  title: none
default_hour: 9
default_minute: 0
editor: nvim
encrypt: false
highlight: true
indent_character: '|'
journals:
  default:
    encrypt: true
    journal: {{ .chezmoi.homeDir }}/.local/share/jrnl/journal.txt
linewrap: 79
tagsymbols: '@'
template: false
timeformat: '%m/%d/%Y %H:%M'
version: v2.8.4
